# Data Analysis using pandas

In this end-to-end example we will perform a data analysis in Python Pandas we will attempt to answer the following questions:

- What percentage of the schedule are undergrad (course number 500 or lower)?
- What undergrad classes are on Friday? or at 8AM?

The iSchool schedule of classes can be found here: https://ischool.syr.edu/classes

In [1]:
import pandas as pd

# this turns off warning messages
import warnings
warnings.filterwarnings('ignore')

In [3]:
#link from which we can get the data

website = 'https://ischool.syr.edu/classes/?page=2'
data = pd.read_html(website)
data[0]

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s)
0,IST343,M001,37841,3.0,Data in Society,Jennifer Stromer-Galley,2:00pm - 3:20pm,TuTh,Watson Theater
1,IST343,M002,37932,3.0,Data in Society,Bryan Semaan,11:00am - 12:20pm,TuTh,Bowne Hall 306D
2,IST344,M002,37613,3.0,Info Reporting & Presentation,Peggy M Takach,12:45pm - 2:05pm,MW,Hinds Hall 111
3,IST344,M004,37624,3.0,Info Reporting & Presentation,Bruce Kingma,3:45pm - 5:05pm,MW,Hinds Hall 111
4,IST344,M005,37628,3.0,Info Reporting & Presentation,Christopher Perrello,12:30pm - 1:50pm,TuTh,Hinds Hall 011
5,IST344,M006,37630,3.0,Info Reporting & Presentation,A Randall Wenner,5:15pm - 8:05pm,M,Newhouse 3 250
6,IST344,M009,37671,3.0,Info Reporting & Presentation,Eric William Young,3:30pm - 4:50pm,TuTh,Hall of Languages 111
7,IST344,M010,37685,3.0,Info Reporting & Presentation,Bruce Kingma,9:30am - 10:50am,MW,Hinds Hall 018
8,IST345,M001,37625,3.0,Managing Info Systems Projects,Robert E Campagna,5:15pm - 8:00pm,W,Hinds Hall 021
9,IST345,M002,37626,3.0,Managing Info Systems Projects,Daniel Cohen,9:30am - 10:50am,TuTh,Hinds Hall 111
10,IST345,M003,37652,3.0,Managing Info Systems Projects,Mark Andrew Borte,5:15pm - 8:05pm,Tu,Hinds Hall 111
11,IST346,M001,37608,3.0,Info Tech Mgmt&Administration,Ryan Elstad,12:30pm - 1:50pm,TuTh,Hinds Hall 010
12,IST346,M002,37623,3.0,Info Tech Mgmt&Administration,Timothy A Jorgensen,12:30pm - 1:50pm,TuTh,Hinds Hall 013
13,IST346,M003,37821,3.0,Info Tech Mgmt&Administration,Lauren J Hardee-Chase,3:45pm - 5:05pm,MW,Hinds Hall 013
14,IST346,M004,37937,3.0,Info Tech Mgmt&Administration,Lauren J Hardee-Chase,12:45pm - 2:05pm,MW,Hinds Hall 027
15,IST349,M001,37634,3.0,Human Comp. Interaction,Natalie C. LoRusso,12:30pm - 1:50pm,TuTh,Hinds Hall 111
16,IST352,M001,37611,3.0,Info Analysis of Org. Systems,vcschoon,11:00am - 12:20pm,TuTh,Hinds Hall 021
17,IST352,M003,37643,3.0,Info Analysis of Org. Systems,Alexander Corsello,5:15pm - 6:30pm,MW,Hinds Hall 111
18,IST352,M004,37668,3.0,Info Analysis of Org. Systems,Alexander Corsello,12:45pm - 2:05pm,MW,Hinds Hall 117
19,IST352,M006,37688,3.0,Info Analysis of Org. Systems,Alexander Corsello,8:00am - 9:20am,TuTh,Hinds Hall 117
20,IST359,M001,37637,3.0,Intro to Data Base Mgmt Systs,Laurie A Ferger,2:15pm - 3:35pm,MW,Hinds Hall 010
21,IST359,M003,37640,3.0,Intro to Data Base Mgmt Systs,Blythe Scherrer,5:00pm - 6:20pm,TuTh,Hall of Languages 114
22,IST359,M004,37669,3.0,Intro to Data Base Mgmt Systs,Chad Aaron Harper,2:00pm - 3:20pm,TuTh,Hinds Hall 027 Hinds Hall 111
23,IST359,M005,37689,3.0,Intro to Data Base Mgmt Systs,Mei Zhang,3:30pm - 4:50pm,TuTh,Hinds Hall 013
24,IST359,M006,37690,3.0,Intro to Data Base Mgmt Systs,Laurie A Ferger,12:45pm - 2:05pm,MW,Hinds Hall 010
25,IST359,M002,43033,3.0,Intro to Data Base Mgmt Systs,Blythe Scherrer,3:45pm - 5:05pm,MW,Hinds Hall 027
26,IST363,M001,37733,3.0,Advanced Front End Web Design,Nick Lyga,5:00pm - 6:20pm,TuTh,Hinds Hall 243
27,IST387,M001,37761,3.0,Intro to Applied Data Science,Stephen Wallace,9:30am - 10:50am,Tu,Life Science Building 001
28,IST387,M002,37801,3.0,LAB: Intro to Applied Data Science,NaN,12:30pm - 1:50pm,Th,Hinds Hall 021
29,IST387,M003,37852,3.0,LAB: Intro to Applied Data Science,Yatish Hegde,3:30pm - 4:50pm,Th,Hinds Hall 018
30,IST387,M004,41681,3.0,LAB: Intro to Applied Data Science,Amanda Darcangelo,5:00pm - 6:20pm,Th,LYMAN HALL ROOM 228
31,IST387,M005,42779,3.0,LAB: Intro to Applied Data Science,Christopher N Dunham,5:15pm - 6:35pm,W,Hinds Hall 013
32,IST400,M002,37892,3.0,Block Chain Mgmt.,Phil Evangelista,5:15pm - 8:05pm,W,Hinds Hall 010
33,IST407,M001,37879,3.0,Data Mining,Stephen Wallace,12:45pm - 3:35pm,W,Hinds Hall 013
34,IST414,M001,37849,3.0,Data Driven Inquiry,Melinda J Sebastian,11:00am - 12:20pm,TuTh,Hinds Hall 011
35,IST421,M001,37850,3.0,Information Visualization,Joshua E Introne,2:00pm - 3:20pm,TuTh,Hinds Hall 013
36,IST425,M001,37622,3.0,Enterprise Risk Management,Ann M Perkins,5:15pm - 6:35pm,MW,Slocum 104
37,IST425,M002,37713,3.0,Enterprise Risk Management,James Enwright,5:00pm - 6:20pm,TuTh,Hall of Languages 105
38,IST442,M001,42307,3.0,Agile Project Mgmt. Meth.,James Stewart,5:00pm - 7:45pm,Th,Hall of Languages 215
39,IST452,M001,37629,3.0,Advanced Computer Networking,Jeffrey T Girard,6:30pm - 7:50pm,TuTh,Hinds Hall 010
40,IST455,M001,42590,3.0,Enterprise IT Consultation,Frank Jr Marullo,3:30pm - 4:50pm,TuTh,Hinds Hall 011
41,IST466,M002,37617,3.0,Prof Issues/Info Mgmt & Tech,Brittany Johnson,11:00am - 12:20pm,TuTh,Hinds Hall 111
42,IST466,M001,37621,3.0,Prof Issues/Info Mgmt & Tech,Bruce Kingma,8:00am - 9:20am,MW,Hinds Hall 243
43,IST466,M003,37655,3.0,Prof Issues/Info Mgmt & Tech,Bruce Kingma,12:45pm - 2:05pm,MW,Hinds Hall 243
44,IST466,M004,42628,3.0,Prof Issues/Info Mgmt & Tech,Brittany Johnson,9:30am - 10:50am,TuTh,Hinds Hall 243
45,IST471,M001,37609,1.0,Internship in Info Mgmt & Tech,Susan Monica Bonzi,1:00am - 1:00am,NaN,NaN
46,IST472,M001,37760,1.0,Coop Educ in Info Mgmt & Tech,Susan Monica Bonzi,12:00am - 12:00am,NaN,NaN
47,IST486,U800,37735,3.0,Social Media in the Organiz.,Jason Ryan,12:00am - 12:00am,NaN,Online
48,IST486,U801,37736,3.0,Social Media in the Organiz.,Jason Ryan,12:00am - 12:00am,NaN,Online
49,IST486,M001,37933,3.0,Social Media in the Organiz.,Jason Ryan,5:00pm - 6:20pm,TuTh,CH101

In [6]:
# To get Detatils from all 6 pages
website = 'https://ischool.syr.edu/classes/?page='
list_of_websites = []
for i in range(1,6):
    link = website + str(i)
    list_of_websites.append(link)
print(list_of_websites)

['https://ischool.syr.edu/classes/?page=1', 'https://ischool.syr.edu/classes/?page=2', 'https://ischool.syr.edu/classes/?page=3', 'https://ischool.syr.edu/classes/?page=4', 'https://ischool.syr.edu/classes/?page=5']

In [9]:
info = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
company1 = info[0]
company1

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,NaN
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,NaN
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,NaN
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,NaN

In [30]:
company1['GICS Sector'].value_counts()

Information Technology    70
Industrials               70
Financials                66
Consumer Discretionary    64
Health Care               61
Consumer Staples          33
Real Estate               31
Energy                    28
Utilities                 28
Materials                 28
Communication Services    26
Name: GICS Sector, dtype: int64

In [25]:
# let's read them all and append them to a single data frame

website = 'https://ischool.syr.edu/classes/?page='
classes = pd.DataFrame() #  (columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room'])

for i in range(1,6):
    link = website + str(i)
    data = pd.read_html(website  + str(i))    
    classes = classes.append(data[0], ignore_index=True)
    
classes.sample(5)

,0,1,2,3,4,5,6,7,8
162,IST659,M400,41928,3.0,Data Admin Concepts & Db Mgmt,Chad Aaron Harper,12:00am - 8:30pm,M,Online Online

In [26]:
## let's set the columns

website = 'https://ischool.syr.edu/classes/?page='
classes = pd.DataFrame() 

for i in range(1,6):
    link = website + str(i)
    data = pd.read_html(website  + str(i))    
    classes = classes.append(data[0], ignore_index=True)
    
classes.columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room']

classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room
205,IST840,M801,41093,1.0,Practicum in Teaching,Jennifer Stromer-Galley,12:00am - 12:00am,NaN,Online

In [23]:
## this is good stuff. Let's make a function out of it for simplicity

def get_ischool_classes():
    website = 'https://ischool.syr.edu/classes/?page='
    classes = pd.DataFrame() 

    for i in range(1,6):
        link = website + str(i)
        data = pd.read_html(website  + str(i))    
        classes = classes.append(data[0], ignore_index=True)
    
    classes.columns = ['Course','Section','ClassNo','Credits','Title','Instructor','Time','Days','Room']

    return classes

# main program 
classes = get_ischool_classes()

In [24]:
classes

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room
0,GET302,M001,37675,3.0,Global Financial Sys Arch,vcschoon,5:00pm - 7:45pm,Tu,Hinds Hall 011
1,GET460,M001,37855,3.0,Global Technology Abroad,Michael Fudge,12:00am - 12:00am,NaN,NaN
2,GET460,M002,41825,3.0,Global Technology Abroad,Paul Brian Gandel,12:00am - 12:00am,NaN,NaN
3,GET660,M001,37856,3.0,Global Technology Abroad,Michael Fudge,12:00am - 12:00am,NaN,NaN
4,GET660,M002,41826,3.0,Global Technology Abroad,Paul Brian Gandel,12:00am - 12:00am,NaN,NaN
...,...,...,...,...,...,...,...,...,...
242,IST971,M400,42836,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,NaN
243,IST972,M001,37619,3.0,School Media Practicum,Patricia C Vilello,12:00am - 12:00am,NaN,Online
244,IST973,M800,37882,1.0,Internship in Info Studies,Rebecca Shaffer Mannion,12:00am - 12:00am,NaN,NaN
245,IST973,M402,37938,1.0,Internship in Info Studies,Rebecca Shaffer Mannion,12:00am - 12:00am,NaN,Online
246,IST999,M001,37610,1.0,Dissertation,NaN,12:00am - 12:00am,NaN,NaN

In [25]:
# undergrad classes are 0-499, grad classes are 500 and up but we don't have course numbers!!!! So we must engineer them.

classes['Course'].str[0:3].sample(5)
#classes['Course'].str[0:3].sample(5)
classes['Course'].str[3:].sample(5)

125    613
99     486
208    718
175    662
199    704
Name: Course, dtype: object

In [31]:
# make the subject and number columns
classes['Subject'] = classes['Course'].str[0:3]
classes['Number'] = classes['Course'].str[3:]
classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
233,IST800,M001,37712,3.0,Social Networks,Joshua E Introne,9:30am - 12:15pm,M,Hinds Hall 120,IST,800,Grad
37,IST256,M002,37890,3.0,Appl.Prog.For Information Syst,Angela Usha Ramnarine-Rieks,12:45pm - 2:05pm,W,Hinds Hall 011,IST,256,UGrad
22,IST195,M009,41659,3.0,LAB: Information Technologies,Lauren J Hardee-Chase,10:35am - 11:30am,F,Hinds Hall 013,IST,195,UGrad
216,IST719,M401,37939,3.0,Information Visualization,Gary E Krudys,12:00am - 10:30pm,Tu,Online Online,IST,719,Grad
121,IST605,M001,42813,3.0,Reference& Info Literacy Svces,LaVerne Gray,5:00pm - 7:45pm,Tu,Hinds Hall 120,IST,605,Grad

In [32]:
# and finally we can create the column we need!
classes['Type'] = ''

classes['Type'][classes['Number'] < '500'] = 'UGrad'

classes['Type'][classes['Number'] >= '500'] = 'Grad'

classes.sample(5)

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
205,IST707,M003,37936,3.0,Data Analytics,Ying Lin,2:00pm - 4:50pm,F,Hinds Hall 111,IST,707,Grad
89,IST452,M001,37629,3.0,Advanced Computer Networking,Jeffrey T Girard,6:30pm - 7:50pm,TuTh,Hinds Hall 010,IST,452,UGrad
69,IST352,M006,37688,3.0,Info Analysis of Org. Systems,Alexander Corsello,8:00am - 9:20am,TuTh,Hinds Hall 117,IST,352,UGrad
135,IST618,M001,37673,3.0,Information Policy,Melinda J Sebastian,2:00pm - 4:45pm,Th,Hinds Hall 111,IST,618,Grad
165,IST655,M001,37734,3.0,Enterprise IT Consultation,Ingrid Erickson,2:00pm - 4:45pm,Tu,Hinds Hall 216,IST,655,Grad

In [33]:
# the entire program to retrieve the data and setup the columns looks like this:

# main program 
classes = get_ischool_classes()
classes['Subject'] = classes['Course'].str[0:3]
classes['Number'] = classes['Course'].str[3:]
classes['Type'] = ''
classes['Type'][classes['Number'] < '500'] = 'UGrad'
classes['Type'][classes['Number'] >= '500'] = 'Grad'

In [43]:
# let's fins the number of grad / undergrad courses
classes['Type'].value_counts()

# more grad classes than undergrad

Grad     149
UGrad     98
Name: Type, dtype: int64

In [47]:
#how many Graded classes on Monday

monday = classes[ (classes['Type'] == 'Grad') & (classes['Days'].str.find('F')>=0 ) ]
monday

Empty DataFrame
Columns: [Course, Section, ClassNo, Credits, Title, Instructor, Time, Days, Room, Subject, Number, Type]
Index: []

In [45]:
# how many undergrad classes on a Friday?
friday = classes[ (classes['Type'] == 'UGrad') & (classes['Days'].str.find('F')>=0 ) ]
friday

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
6,IDS403,M001,37649,1.0,Startup Sandbox,John DuRoss Liddy,2:15pm - 5:05pm,F,Syracuse Technology Garden,IDS,403,UGrad
7,IDS460,M002,37755,3.0,Entretech - NYC,John DuRoss Liddy,12:00am - 12:00am,MTuWThF,Courtyard Marriott Man Midtwn Online Online,IDS,460,UGrad
8,IDS460,M003,37756,3.0,Spring Break in Silicon Valley,John DuRoss Liddy,12:00am - 12:00am,MTuWThFSu,"Online Online Residence Inn by Marr, San Mat",IDS,460,UGrad
15,IST195,M003,37658,3.0,LAB: Information Technologies,Jeff Rubin,9:30am - 10:25am,F,Hinds Hall 010,IST,195,UGrad
16,IST195,M004,37659,3.0,LAB: Information Technologies,Jeff Rubin,10:35am - 11:30am,F,Hinds Hall 010,IST,195,UGrad
17,IST195,M005,37660,3.0,LAB: Information Technologies,Jeff Rubin,11:40am - 12:35pm,F,Hinds Hall 010,IST,195,UGrad
18,IST195,M006,37661,3.0,LAB: Information Technologies,Jeff Rubin,12:45pm - 1:40pm,F,Hinds Hall 010,IST,195,UGrad
19,IST195,M007,37662,3.0,LAB: Information Technologies,Jeff Rubin,1:50pm - 2:45pm,F,Hinds Hall 010,IST,195,UGrad
20,IST195,M008,37667,3.0,LAB: Information Technologies,Jeff Rubin,2:55pm - 3:50pm,F,Hinds Hall 010,IST,195,UGrad
21,IST195,M002,37695,3.0,LAB: Information Technologies,Jeff Rubin,8:25am - 9:20am,F,Hinds Hall 010,IST,195,UGrad
22,IST195,M009,41659,3.0,LAB: Information Technologies,Lauren J Hardee-Chase,10:35am - 11:30am,F,Hinds Hall 013,IST,195,UGrad
23,IST195,M010,41832,3.0,LAB: Information Technologies,Lauren J Hardee-Chase,11:40am - 12:35pm,F,Hinds Hall 013,IST,195,UGrad
26,IST233,M003,37663,3.0,LAB: Intro to Computer Networking,S Bruce Boardman,10:35am - 11:30am,F,Hinds Hall 027,IST,233,UGrad
27,IST233,M004,37664,3.0,LAB: Intro to Computer Networking,S Bruce Boardman,11:40am - 12:35pm,F,Hinds Hall 027,IST,233,UGrad
28,IST233,M005,37665,3.0,LAB: Intro to Computer Networking,S Bruce Boardman,12:45pm - 1:40pm,F,Hinds Hall 027,IST,233,UGrad
29,IST233,M006,37666,3.0,LAB: Intro to Computer Networking,S Bruce Boardman,1:50pm - 2:45pm,F,Hinds Hall 027,IST,233,UGrad
49,IST337,M001,37848,1.0,IM&T Support Practicum,Jeffrey Fouts,2:15pm - 5:00pm,F,Hinds Hall 117,IST,337,UGrad
100,IST486,M002,42625,3.0,Social Media in the Organiz.,Kristy Lee Hochenberger,9:30am - 10:25am,MWF,Hinds Hall 021,IST,486,UGrad

In [47]:
# let's get rid of those pesky LAB sections!!!
# how many undergrad classes on a Friday?
friday_no_lab = friday[ ~friday['Title'].str.startswith('LAB:')]
friday_no_lab

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
3,GET400,M002,37081,3.0,Global Consulting Challenges,Jason Dedrick,10:35am - 1:10pm,F,Hinds Hall 018,GET,400,UGrad
11,IDS402,M001,37004,3.0,Idea2Startup,Michael A D'Eredita,9:30am - 12:15pm,F,Hinds Hall 011,IDS,402,UGrad
12,IDS403,M001,37002,1.0,Startup Sandbox,John DuRoss Liddy,10:00am - 12:50pm,F,Syracuse Technology Garden,IDS,403,UGrad
13,IDS403,M002,41254,1.0,Startup Sandbox,John DuRoss Liddy,1:00pm - 3:50pm,F,Syracuse Technology Garden,IDS,403,UGrad
31,IST256,M001,40238,3.0,Appl.Prog.For Information Syst,Michael Fudge Avinash Kadaji Deborah L Nosky...,8:00am - 9:20am,WF,School of Management 007,IST,256,UGrad
41,IST335,M002,36937,3.0,Intro/Info Based Organizations,Michael A D'Eredita,12:45pm - 2:05pm,WF,Hinds Hall 011,IST,335,UGrad

In [48]:
# Looking for more classes to avoid? How about 8AM classes?
eight_am = classes[ classes['Time'].str.startswith('8:00am')]
eight_am

,Course,Section,ClassNo,Credits,Title,Instructor,Time,Days,Room,Subject,Number,Type
4,GET433,M001,37075,3.0,Multi-tier App. Development,P Douglas Taber,8:00am - 9:20am,TuTh,Hinds Hall 013,GET,433,UGrad
31,IST256,M001,40238,3.0,Appl.Prog.For Information Syst,Michael Fudge Avinash Kadaji Deborah L Nosky...,8:00am - 9:20am,WF,School of Management 007,IST,256,UGrad
33,IST263,M003,37015,3.0,Web Design and Mgmt,Joseph E Flateau,8:00am - 9:20am,MW,Hinds Hall 021,IST,263,UGrad
34,IST263,M002,37017,3.0,Web Design and Mgmt,Christian A Kirkegaard,8:00am - 9:20am,TuTh,Hinds Hall 018,IST,263,UGrad
54,IST352,M005,37068,3.0,Info Analysis of Org. Systems,Alexander Corsello,8:00am - 9:20am,MW,Hinds Hall 111,IST,352,UGrad
55,IST352,M006,37069,3.0,Info Analysis of Org. Systems,Alexander Corsello,8:00am - 9:20am,TuTh,Hinds Hall 117,IST,352,UGrad
58,IST359,M003,36986,3.0,Intro to Data Base Mgmt Systs,Deborah L Nosky,8:00am - 9:20am,TuTh,Hinds Hall 010 Hinds Hall 111,IST,359,UGrad